<body>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h3>Listado Productos</h3>
          <app-tabla-productos (prodSeleccionado)="prodElegido($event)" [listadoProd]="this.listadoProds"></app-tabla-productos>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="card-body" *ngIf="this.prodMostrar">
            <h3>Detalle Producto</h3>
            <app-producto-detalle [detalles]="this.prodMostrar"></app-producto-detalle>
          </div>
          <div class="card-body" *ngIf="this.prodMostrar">
            <h3>Detalle Pais</h3>
            <app-pais-detalle [paisMostrar]="this.prodMostrar.paisOrigen"></app-pais-detalle>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; Company 2017-2018</p>
    </footer>
  </body>